# API
fastapi
uvicorn
pydantic
python-dotenv
loguru

# Data
pandas
numpy<2.0
scikit-learn
tqdm
requests

# Vector DB
faiss-cpu
sentence-transformers

# LLM
transformers
sentencepiece

# Cloud LLMs
google-generativeai
openai
